body {
    background: linear-gradient(to right, #FFC0CB, #ADD8E6);
}
bk1 {
    width: 200px;
    height: 100px;
    color: white;
    margin-top: 100px;
}
bk2{

}
bk3{

}
bk4{

}
bk5{

}
clock{

}
clock_sz{

}
clock_fz{

}
date{

}
time_{

}
slbutton{

}
grmp{

}
IARLOGO{

}